{% extends "layout.njk" %}
{% block title %}Home{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Welcome</h1>
  <p><a class="govuk-button" href="/form">Go to form →</a></p>
{% endblock %}